<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>AgeGap DB</title>
  </head>
  <body>

    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">AgeGap DB</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p>{{movie.title}} ({{movie.year}})</p>
          <p>Director: {{movie.director}}</p>
          <img src="{{ url_for('static', filename = movie.poster) }}" alt="Movie Poster" height='250' width="200">
          <p>{{movie.synopsis}}</p>

        </div>

        <div class="col-md-8">
          {% for info in infos %}
          <div class="row">
            <p>Relationship</p>
            <p>{{info.0}}</p>

            <div class="col-md-6">
              <p>{{info.1}}</p>
              <p><img src="{{ url_for('static', filename = info.2) }}" alt="Actor Picture" height='250' width="250"></p>
              <p style="display:none" class="answer">{{info.5}} years old</p>
            </div>

            <div class="col-md-6">
              <p>{{info.3}}</p>
              <p><img src="{{ url_for('static', filename = info.4) }}" alt="Actor Picture" height='250' width="250"></p>
              <p style="display:none" class="answer">{{info.6}} years old</p>
            </div>

            <p>Guess the age difference:
              <input type="text" id="guess-input" name="guess" placeholder="e.g., 5"> years
            </p>

            <div style="display:none" class="answer">
              <p id="user-answer"></p>
              <p>actual answer: {{info.7}} years</p>
            </div>
          </div>

          {% endfor %}

          <button type="button" class="btn btn-primary" id="guess-button">Guess</button>

        </div>
      </div>
    </div>

    <script>
    $("#guess-button").click(function () {
      console.log('test');
      if($('#guess-input').val() == ''){
        alert("Please input a value.");
      }
      else {
        console.log('success');
        var userAnswer = document.getElementById("user-answer");
        var userGuess = $("#guess-input").val();
        userAnswer.innerHTML = "Your answer: "
        userAnswer.innerHTML += userGuess + " years"
        $( ".answer" ).show();
      }
    });

    </script>


  </body>
</html>
